h1{color: cyan;
    background-color: darkgray;
    padding: 50px;
border-radius: 90px;
text-align: center;}
body{background-color: black;}
footer {
    width: 100%; /* Ширина подвала */
    background: linear-gradient(to right, rgb(71, 2, 62), rgb(0, 77, 128)); /* Градиентный фон подвала */
    margin-top: 100px;
  }
  /* Стилизация контейнера */
  .podval {
    width: 80%; /* Ширина контейнера */
    margin: 0 auto; /* Выравнивание контейнера по центру */
    display: flex; /* Установка типа отображения контейнера как flex */
    flex-direction: column; /* Установка направления элементов контейнера как вертикальное */
    align-items: center; /* Выравнивание элементов контейнера по вертикали */
    padding: 20px; /* Внутренние отступы контейнера */
  }